<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<div>
  <a class="places" href="/places/create">Create New Place</a>
</div><br />

<div>
  <a class="places-list" href="/places-list">See List of Places</a>
</div>