<form action="/places/create" method="POST">
  <label for="title">
    Name
    <input name="name" id="name" type="text">
  </label>
  </br>

<select type='type' id='type-list'>
<option>Select Type</option>
<option value = "coffe shop"> Coffe-Shop</option>
<option value = "booksstore"> Bookstore</option>

</select>


  <button type="submit">Create place</button>
</form>